* {
  margin: 0;
  padding: 0;
  user-select: none;
  outline: none;
}

a {
  text-decoration: none;
}

body {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.wrapper-main {
  width: 100%;
  height: 100%;
  position: relative;
}

canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #595959;
  /* background-image: url("https://www.transparenttextures.com/patterns/"assets-linen.png"); */
  background-image: url("assets/img/black-linen.png");
  z-index: -1;
  overflow: hidden;
}

/* buttons */
ul {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 15px;
  font-size: 50px;
}

ul li {
  list-style: none;
  display: inline-block;
  padding: 5px;
}

.button{
  transform-origin: center;
  color: rgba(255, 255, 255, 0.1);
  transition: 0.1s ease-in;
}

.button:hover,
.button:focus {
  transform: scale(1.2);
  color: rgba(255, 255, 255, 0.6);
  transition: 0.1s ease-in;
}

.about-wrapper {
  /* display: block; */
  display: none;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.1);
}

.about-box {
  background-color: rgba(255, 255, 255, 0.8);
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin: 0 auto;
  padding: 20px 0 0 0;
  width: 100%;
  /* min-height: 50%; */
  font-family: "Luckiest Guy";
}

.about-box h1 {
  text-align: center;
  font-size: 10vh;
}

.about-box p {
  text-align: center;
  font-size: 2em;
  padding: 10px;
}


/* flex */
.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
  min-height: 300px;
  margin-top: 60px;
}

.flex-cell {
  width: 45%;
  min-height: 120px;
}

.flex-cell i{
  font-size: 60px;
  color: #555;
  padding-bottom: 5px;
}

.flex-cell p{
  font-size: 35px;
  color: #555;
  padding: 5px 40px 0;
}

.flex-cell:nth-of-type(odd) i{
  float: left;
  padding-right: 20px;
}

.flex-cell:nth-of-type(even) i{
  float: right;
  padding-left: 20px;
}

#about-close {
  display: block;
  position: absolute;
  top: 20px;
  right: 20px;
  color: #666;
  font-size: 28px;
  transition: 0.1s ease-in;
}

#about-close:hover,
#about-close:focus {
  color: #222;
  text-decoration: none;
  cursor: pointer;
  transition: 0.1s ease-in;
}
/* Animations */
.fade-in {
  opacity: 0;
  animation: fadeIn 0.2s ease-in 1 forwards;
}

.fade-out {
  animation: fadeOut 0.2s ease-out 1 forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
  }
}

.bg-clip {
  background-color: #777777;
  background-image: url("assets/img/black-linen.png");
  background-repeat: repeat-x;
  background-position: 0 0;
  font-size: 200px;
  text-transform: uppercase;
  text-align: center;
  font-family: "Luckiest Guy";
  color: transparent;
  -webkit-font-smoothing: antialiased;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
  -webkit-animation: BackgroundAnimated 15s linear infinite;
  -moz-animation: BackgroundAnimated 15s linear infinite;
  -ms-animation: BackgroundAnimated 15s linear infinite;
  -o-animation: BackgroundAnimated 15s linear infinite;
  animation: BackgroundAnimated 15s linear infinite;
  padding-top: 50px;
}
@keyframes BackgroundAnimated {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
}
@-webkit-keyframes BackgroundAnimated {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
}
@-ms-keyframes BackgroundAnimated {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
}
@-moz-keyframes BackgroundAnimated {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
}


/* media query */

@media only screen and (max-width: 820px){
  .flex-cell{
    width: 80%;
    padding: 10px 0px;
  }

  .flex-container{
    padding-top: 40px;
  }

  .about-box {
    width: 100%;
    height: 100%;
    font-family: "Luckiest Guy";
    overflow: auto;
  }
  
  .about-box h1 {
    /* text-align: center; */
    font-size: 15vw;
    padding-top: 50px;
  }
}

@media only screen and (max-width: 480px){
  .flex-cell i,
  .flex-cell p{
    width: 100%;
    text-align: center;
    padding: 10px 0;
    margin: 0;

  }
}

/* ANIMATION KEYFRAMES */

/* Buzz Out */
@-webkit-keyframes hvr-buzz-out {
  10% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  20% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  30% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  40% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  50% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  60% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  70% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  80% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  90% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0);
  }
  100% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0);
  }
}

@keyframes hvr-buzz-out {
  10% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  20% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  30% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  40% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  50% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  60% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  70% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  80% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  90% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0);
  }
  100% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0);
  }
}

.hvr-buzz-out {
  display: inline-block;
  /* vertical-align: middle; */
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  color: white;

  -webkit-animation-name: hvr-buzz-out;
  animation-name: hvr-buzz-out;
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

/* .hvr-buzz-out {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-buzz-out:hover, .hvr-buzz-out:focus, .hvr-buzz-out:active {
  -webkit-animation-name: hvr-buzz-out;
  animation-name: hvr-buzz-out;
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
} */