* {
  margin: 0;
  padding: 0;
  user-select: none;
}

body {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

.wrapper-main {
  width: 100%;
  height: 100%;
  position: relative;
}

canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #595959;
  background-image: url("https://www.transparenttextures.com/patterns/black-linen.png");
  /* background-image: url("img/black-linen.png"); */
  z-index: -1;
}

/* buttons */
ul {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 15px;
  font-size: 28px;
}

ul li {
  list-style: none;
  display: inline-block;
  padding: 5px;
}

ul li > * > * {
  transform-origin: center;
  color: rgba(255, 255, 255, 0.1);
  transition: 0.1s ease-in;
}

ul li > * > *:hover,
ul li > * > *:focus {
  transform: scale(1.2);
  color: rgba(255, 255, 255, 0.6);
  transition: 0.1s ease-in;
}

.about-wrapper {
  display: block;
  display: none;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.1);
}

.about-box {
  background-color: rgba(255, 255, 255, 0.8);
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin: 0 auto;
  padding: 20px;
  border-top: 5px solid #888;
  border-bottom: 5px solid #888;
  width: 100%;
  min-height: 50%;
}

.about-box h1 {
  /* text-transform: capitalize; */
  font-family: "Luckiest Guy";
  text-align: center;
  font-size: 10vh;
}

#about-close {
  color: red;
  font-size: 28px;
}

#about-close:hover,
#about-close:focus {
  color: yellow;
  text-decoration: none;
  cursor: pointer;
}

/* Animations */
.fade-in {
  opacity: 0;
  animation: fadeIn 0.2s ease-in 1 forwards;
}

.fade-out {
  animation: fadeOut 0.2s ease-out 1 forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
  }
}

.bg-clip {
  background-color: #566ce9;
  background-image: url("https://www.transparenttextures.com/patterns/black-linen.png");
  background-repeat: repeat-x;
  background-position: 0 0;
  font-size: 200px;
  text-transform: uppercase;
  text-align: center;
  font-family: "Luckiest Guy";
  color: transparent;
  -webkit-font-smoothing: antialiased;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
  -webkit-animation: BackgroundAnimated 15s linear infinite;
  -moz-animation: BackgroundAnimated 15s linear infinite;
  -ms-animation: BackgroundAnimated 15s linear infinite;
  -o-animation: BackgroundAnimated 15s linear infinite;
  animation: BackgroundAnimated 15s linear infinite;
}
@keyframes BackgroundAnimated {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
}
@-webkit-keyframes BackgroundAnimated {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
}
@-ms-keyframes BackgroundAnimated {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
}
@-moz-keyframes BackgroundAnimated {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
}
